<main class="bg-white black-70">
  <article class="pa3 ph5-ns">
    <h3 class="f3 bb">Lists</h3>
    <code class="f6 b">&lt;ul class="list pl0"&gt;</code>
    <ul class="list pl0 mt2">
      <li>Apples</li>
      <li>Oranges</li>
      <li>Banana</li>
      <li>Golf balls</li>
    </ul>
    <code class="f6 b">&lt;ol class="list pl0"&gt;</code>
    <ol class="list pl0 mt2">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
    </ol>
  </article>
</main>
