<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h3 class="f3">Cleared Floats</h3>
    <p class="measure lh-copy">
      This example shows two floated elements wrapped in an element with a 4px
      solid red border. In the top version where the floats are cleared, the red
      element wraps around the elements. In the second example - the parent
      element is collapsed and the two floated elements sit outside of it. It
      should be noted you don’t have to clear floated elements that are inside
      another floated element.
    </p>
    <div class="cf" style="outline: 8px solid red;">
      <div class="fl w-50 pv4" style="background: rgba(0,20,120,.6)"></div>
      <div class="fl w-50 pv4" style="background: rgba(0,50,80,.6)"></div>
    </div>
    <h3 class="f3">UnCleared Floats</h3>
    <div style="outline: 8px solid red;">
      <div class="fl w-50 pv4" style="background: rgba(0,20,120,.6)"></div>
      <div class="fl w-50 pv4" style="background: rgba(0,50,80,.6)"></div>
    </div>
  </div>
</main>
