<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h3 class="f3">Height Scale</h3>
    <table border="0" cellspacing="5" cellpadding="5">
      <tbody><tr>
          <td>
            <code class="code">.h1</code>
          </td>
          <td><div class="h1 bg-black-05 ph2"></div></td>
        </tr>
        <tr>
          <td>
            <code class="code">.h2</code>
          </td>
          <td><div class="h2 bg-black-05 ph2"></div></td>
        </tr>
        <tr>
          <td>
            <code class="code">.h3</code>
          </td>
          <td><div class="h3 bg-black-05 ph2"></div></td>
        </tr>
        <tr>
          <td>
            <code class="code">.h4</code>
          </td>
          <td><div class="h4 bg-black-05 ph2"></div></td>
        </tr>
        <tr>
          <td>
            <code class="code">.h5</code>
          </td>
          <td><div class="h5 bg-black-05 ph2"></div></td>
        </tr>
      </tbody></table>
    <h3 class="f3">Height Percentages</h3>
    <div class="bg-black-05 w-100">
      <div class="h5">
        <div class="h-25 bg-black-05 mb2">
          <code class="code">h-25</code>
        </div>
      </div>
      <div class="h5">
        <div class="h-50 bg-black-05 mb2">
          <code class="code">h-50</code>
        </div>
      </div>
      <div class="h5">
        <div class="h-75 bg-black-05 mb2">
          <code class="code">h-75</code>
        </div>
      </div>
      <div class="h5">
        <div class="h-100 bg-black-05 mb2">
          <code class="code">h-100</code>
        </div>
      </div>
    </div>
  </div>
</main>
