<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h3 class="f3">Position Static</h3>
    <div class="bg-light-gray">
      <p>This is statically positioned content</p>
    </div>
    <h3 class="f3">Position Relative</h3>
    <div class="relative top-4 bg-black-20 bold pam">
      <p class="f3">This is relatively positioned content that doesn’t affect
        the position of other elements which is why the text overlaps with the
        content that is set to position static.</p>
    </div>
    <div class="static bg-black-10 gray">
      <p>
        This is also statically positioned content This is also statically
        positioned content This is also statically positioned content This is
        also statically positioned content This is also statically positioned
        content This is also statically positioned content This is also
        statically positioned content This is also statically positioned content
        This is also statically positioned content This is also statically
        positioned content This is also statically positioned content
      </p>
    </div>
    <h3 class="f3">Position Relative + Absolute</h3>
    <div class="relative bg-black-10 h5 mbm">
      <div class="absolute top-1 left-1 right-2 bottom-2 white bg-dark-gray">
        <p class="measure pam">
          This is an absolutely positioned element set to have offsets of top
          and left to 1rem with right and bottom offset by 2rem. It’s parent
          with the light gray background is set to position relative.
        </p>
      </div>
    </div>
    <div class="relative bg-black-10 h5 mbm">
      <div class="absolute top-0 right-0 white bg-dark-gray w2 pvs tc">
        X
      </div>
      <p class="measure pal">
        This illustrates an absolutely positioned element that might always need
        to be in the top right of the content like a close button for a modal
        that needs to be dismissed.
      </p>
    </div>
  </div>

</main>
