<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h3 class="f3 bb">Text Align</h3>
    <code class="f6 b">&lt;p class="tl"&gt;Aligned Left&lt;/p&gt;</code>
    <p class="tl measure bg-black-05">
      Aligned Left
    </p>
    <code class="f6 b">&lt;p class="tr"&gt;Aligned Right&lt;/p&gt;</code>
    <p class="tr measure bg-black-05">
      Aligned Right
    </p>
    <code class="f6 b">&lt;p class="tc"&gt;Aligned Center&lt;/p&gt;</code>
    <p class="tc measure bg-black-05">
      Aligned to the center
    </p>
    <code class="f6 b">&lt;p class="tj"&gt;Justified Alignment&lt;/p&gt;</code>
    <p class="tj measure bg-black-05 pa3">
      justified—text is aligned along the left margin, and letter- and
      word-spacing is adjusted so that the text falls flush with both margins,
      also known as fully justified or full justification;
    </p>
  </div>
</main>
