<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h3 class="f3 bb">White Space</h3>
    <code class="f6 db code b">
      &lt;p class="ws-normal measure ba pa3"&gt;Content&lt;/p&gt;
    </code>
    <p class="ws-normal measure ba pa3">

      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.

    </p>
    <code class="f6 db code b">
      &lt;p class="nowrap measure truncate ba pa3"&gt;Content&lt;/p&gt;
    </code>
    <p class="nowrap measure truncate ba pa3">
      Typography is to literature as musical performance is to composition: an
      essential act of interpretation, full of endless opportunities for insight
      or obtuseness.
    </p>
    <code class="f6 db code b">
      &lt;p class="pre measure ba pa3"&gt;Content&lt;/p&gt;
    </code>
    <p class="pre measure ba pa3">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.

    </p>
  </div>
</main>
