<main class="bg-white black-70">
  <article class="pa3 ph5-ns">
    <h3 class="f6 ttu tracked mt0">White Space</h3>
    <p class="measure f4 f3-ns lh-copy">
      White space in css is used to control how whitespace is rendered.
      Creative, I know.
    </p>
    <p class="measure f5 f4-ns lh-copy">
      <b>Normal</b>
      supresses white space characters and breaks lines based on the width of
      the element or the placement of a br tag.<br />
      <b>Nowrap</b>
      will keep all text on one line - often used in conjunction with truncation
      or a scrollbar. This can be useful for displaying unix style commands
      where indicating everything is on one line is important for clarity.<br />
      <b>Pre</b>
      will preserve all whitespace and linebreaks. This is useful for displaying
      code or poetry. Simulates the rendering of the pre tag.
    </p>
  </article>
  <div class="ph3 ph5-ns pt4 pb5">
    <h3 class="f5 mb4 pb2 bb">Examples</h3>
    <p class="f5 f4-ns measure lh-copy">This text is formatted the same way in
      the source and printed three times, with the only difference being which
      white-space class is attached.</p>
    <code class="f6 db">
      &lt;p class="ws-normal"&gt;Content&lt;/p&gt;
    </code>
    <p class="ws-normal measure">

      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.

    </p>
    <h3 class="f5 fw4 mt4 code">.nowrap</h3>
    <p class="nowrap measure truncate">
      Typography is to literature as musical performance is to composition: an
      essential act of interpretation, full of endless opportunities for insight
      or obtuseness.
    </p>
    <h3 class="f5 book pt4 code">.pre</h3>
    <p class="pre measure">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet.

    </p>
  </div>
</main>
