<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h4 class="f5">Dim Text</h4>
    <p class="lh-copy measure">
      You can dim any element, including text links on hover and focus with the
      dim class. It will fade the element to an opacity of 50% in 150ms.
    </p>
    <div class="bl-ns bw2-ns b--black-05 pl3-ns">
      <a href="#" class="link dim black b">link text</a>
      <code class="f6 db mt3">&lt;a href="#" class="link dim black b"&gt;link
        text&lt;/a&gt;</code>
    </div>
    <h4 class="f5 mt4 mt5-ns">Dim Card</h4>
    <p class="lh-copy measure">You can dim any element on hover and focus with
      the dim element. Not just text. Here is a card component that will dim on
      hover.</p>
    <div class="bl-ns bw2-ns b--black-05 pl3-ns">
      <a href="#" class="link black mw5 db dim pa2 ba b--black-10 br2 shadow-1">
        <img
          src="https://mrmrs.github.io/photos/037.jpg"
          alt="SF at night"
          class="db mb2 mw-100"
        />
        <span class="db f6 pv2">Card title</span>
      </a>
      <code class="f6 db mt3 pre">
        &lt;a href="#" class="link black dim db mw5 pa2 br2 ba b--black-10
        shadow-1"&gt; &lt;img src="http://mrmrs.github.io/photos/037.jpg"
        alt="SF at night" class="db mb2 mw-100" /&gt; &lt;span class="db f6
        pv2"&gt;Card title&lt;/span&gt; &lt;/a&gt;
      </code>
    </div>
    <h4 class="f5 mt4 mt5-ns">Reveal Children on Hover</h4>
    <div class="bl-ns bw2-ns b--black-05 pl3-ns">
      <a
        href="#"
        class="link mw5 dt hide-child br2 cover bg-center"
        style="background-image: url(http://mrmrs.github.io/photos/012.jpg); "
      >
        <span
          class="white b dtc v-mid w-100 h-100 child bg-black-40 pa5 br2"
        >This is some card content</span>
      </a>

      <code class="f6 db pre">
        &lt;a href="#" style="background-image:
        url(http://mrmrs.github.io/images/0010.jpg); class="link mw5 dt
        hide-child br2 cover bg-center" "&gt; &lt;span class="white dtc v-mid
        w-100 h-100 child bg-black-40 pa5"&gt; Card title &lt;/span&gt;
        &lt;/a&gt;
      </code>
    </div>
    <h4 class="f5 mt4 mt5-ns">Add pointer on hover</h4>
    <div class="bl-ns bw2-ns b--black-05 pl3-ns">
      <div
        href="#"
        class="link dim black mw5 dt hide-child ba b--black-20 pa4 br2 pointer"
      >
        Add pointer on hover to element.
      </div>

      <code class="f6 db mt3 pre">
        &lt;div href="#" class="link dim black mw5 dt hide-child ba b--black-20
        pa4 br2 pointer"&gt; Add pointer on hover to element. &lt;/div&gt;
      </code>
    </div>
    <h4 class="f5 mt4 mt5-ns">Grow on Hover</h4>
    <p class="lh-copy measure">Using the grow class on an element will cause it
      to scale to 1.05% of its normal size on hover.</p>
    <div class="bl-ns bw2-ns b--black-05 pl3-ns">
      <a class="grow dib f3-ns no-underline bg-pink black-90 pa5" href="#">
        Portfolio Project #11
      </a>
      <code class="f6 db mt3 pre">
        &lt;a class="grow dib f3-ns no-underline bg-pink black-90 pa5"
        href="#"&gt; Portfolio Project #11 &lt;/a&gt;
      </code>
    </div>
  </div>
</main>
