<main class="bg-white black-70">
  <div class="cf ph3 ph5-ns pt4 pb5 bt b--black-10">
    <div class="fl w-100 w-50-l pr4-l">
      <code class="f6 fw4 dib">.contain { background-size: contain }</code>
      <p class="measure lh-copy mt3"><code>contain</code>
        will make sure that the entire image is displayed within the element,
        regardless of the elements dimensions.</p>
      <div
        style="background-image: url(http://placekitten.com/g/500/500);background-repeat: no-repeat;outline: 1px solid black;"
        class="contain h4 w-100"
      >
      </div>
    </div>
    <div class="fl w-100 w-50-l pl3-l pt5 pt0-l">
      <code class="f6 fw4 dib">.cover { background-size: cover }</code>
      <p class="measure lh-copy mt3"><code>cover</code>
        will make sure the entire element is covered - but won’t guarantee that
        the entire image will be shown.</p>
      <div
        style="background-image: url(http://placekitten.com/g/500/500); outline: 1px solid black;"
        class="cover h4 w-100"
      >
      </div>
    </div>
  </div>
</main>
