<main class="bg-white black-70">
  <div class="ph3 ph5-ns">
    <h3 class="f3 bb">Basic Grid</h3>
    <h4 class="f4">Fixed Columns</h4>
  </div>
  <section class="cf w-100 pv3 f6 ph3 ph4-ns">
    <div class="mw9 center ph3-ns">
      <div class="ph2-ns">
        <div class="fl w-100 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-100 pa2</code></div>
        </div>
        <div class="fl w-90 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-90 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-80 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-80 pa2</code></div>
        </div>
        <div class="fl w-20 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-20 pa2</code></div>
        </div>
        <div class="fl w-75 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-75 pa2</code></div>
        </div>
        <div class="fl w-25 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-25 pa2</code></div>
        </div>
        <div class="fl w-70 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-70 pa2</code></div>
        </div>
        <div class="fl w-30 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-30 pa2</code></div>
        </div>
        <div class="fl w-60 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-60 pa2</code></div>
        </div>
        <div class="fl w-40 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-40 pa2</code></div>
        </div>
        <div class="fl w-50 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-50 pa2</code></div>
        </div>
        <div class="fl w-50 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-50 pa2</code></div>
        </div>
        <div class="fl w-third pa2">
          <div class="outline bg-white tc pv4"><code>fl w-third pa2</code></div>
        </div>
        <div class="fl w-third pa2">
          <div class="outline bg-white tc pv4"><code>fl w-third pa2</code></div>
        </div>
        <div class="fl w-third pa2">
          <div class="outline bg-white tc pv4"><code>fl w-third pa2</code></div>
        </div>
        <div class="fl w-third pa2">
          <div class="outline bg-white tc pv4"><code>fl w-third pa2</code></div>
        </div>
        <div class="fl w-two-thirds pa2">
          <div class="outline bg-white tc pv4"><code>fl w-two-thirds pa2</code></div>
        </div>
        <div class="fl w-25 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-25 pa2</code></div>
        </div>
        <div class="fl w-25 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-25 pa2</code></div>
        </div>
        <div class="fl w-25 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-25 pa2</code></div>
        </div>
        <div class="fl w-25 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-25 pa2</code></div>
        </div>
        <div class="fl w-20 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-20 pa2</code></div>
        </div>
        <div class="fl w-20 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-20 pa2</code></div>
        </div>
        <div class="fl w-20 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-20 pa2</code></div>
        </div>
        <div class="fl w-20 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-20 pa2</code></div>
        </div>
        <div class="fl w-20 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-20 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
        <div class="fl w-10 pa2">
          <div class="outline bg-white tc pv4"><code>fl w-10 pa2</code></div>
        </div>
      </div>
    </div>
  </section>
  <div class="ph3 ph5-ns pt5">
    <h4 class="f4">Two Columns - Collapsing</h4>
    <code class="f6 pre">
      &lt;div class="mw9 center ph3-ns"&gt; &lt;div class="cf ph2-ns"&gt;
      &lt;div class="fl w-100 w-50-ns pa2"&gt; &lt;div class="outline bg-white
      pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;div class="fl w-100 w-50-ns pa2"&gt;
      &lt;div class="outline bg-white pv4"&gt;&lt;/div&gt; &lt;/div&gt;
      &lt;/div&gt; &lt;/div&gt;
    </code>
  </div>
  <section class="w-100 pv3 f6 ph3 ph4-ns">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-50-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
        <div class="fl w-100 w-50-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="ph3 ph5-ns pt5">
    <h4 class="f4">Three Columns - Collapse to Single</h4>
    <code class="f6 pre">
      &lt;div class="mw9 center ph3-ns"&gt; &lt;div class="cf ph2-ns"&gt;
      &lt;div class="fl w-100 w-third-ns pa2"&gt; &lt;div class="outline
      bg-white pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;div class="fl w-100
      w-third-ns pa2"&gt; &lt;div class="outline bg-white pv4"&gt;&lt;/div&gt;
      &lt;/div&gt; &lt;div class="fl w-100 w-third-ns pa2"&gt; &lt;div
      class="outline bg-white pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;/div&gt;
      &lt;/div&gt;
    </code>
  </div>
  <section class="w-100 pv3 f6 ph3 ph4-ns">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-third-ns pa2">
          <div class="outline bg-white pv4"></div>
        </div>
        <div class="fl w-100 w-third-ns pa2">
          <div class="outline bg-white pv4"></div>
        </div>
        <div class="fl w-100 w-third-ns pa2">
          <div class="outline bg-white pv4"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="ph3 ph5-ns pt5">
    <h4 class="f4">Three Columns - Collapse to Mixed</h4>
    <code class="f6 pre">
      &lt;div class="mw9 center ph3-ns"&gt; &lt;div class="cf ph2-ns"&gt;
      &lt;div class="fl w-100 w-third-ns pa2"&gt; &lt;div class="outline
      bg-white pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;div class="fl w-50
      w-third-ns pa2"&gt; &lt;div class="outline bg-white pv4"&gt;&lt;/div&gt;
      &lt;/div&gt; &lt;div class="fl w-50 w-third-ns pa2"&gt; &lt;div
      class="outline bg-white pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;/div&gt;
      &lt;/div&gt;
    </code>
  </div>
  <section class="w-100 pv3 f6 ph3 ph4-ns">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-third-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
        <div class="fl w-50 w-third-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
        <div class="fl w-50 w-third-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="ph3 ph5-ns pt5">
    <h4 class="f4">Four Columns - Collapse to single</h4>
    <code class="f6 pre">
      &lt;div class="mw9 center ph3-ns"&gt; &lt;div class="cf ph2-ns"&gt;
      &lt;div class="fl w-100 w-25-ns pa2"&gt; &lt;div class="outline bg-white
      pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;div class="fl w-100 w-25-ns pa2"&gt;
      &lt;div class="outline bg-white pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;div
      class="fl w-100 w-25-ns pa2"&gt; &lt;div class="outline bg-white
      pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;div class="fl w-100 w-25-ns pa2"&gt;
      &lt;div class="outline bg-white pv4"&gt;&lt;/div&gt; &lt;/div&gt;
      &lt;/div&gt; &lt;/div&gt;
    </code>
  </div>
  <section class="w-100 pv3 f6 ph3 ph4-ns">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-25-ns pa2">
          <div class="outline bg-white pv4"></div>
        </div>
        <div class="fl w-100 w-25-ns pa2">
          <div class="outline bg-white pv4"></div>
        </div>
        <div class="fl w-100 w-25-ns pa2">
          <div class="outline bg-white pv4"></div>
        </div>
        <div class="fl w-100 w-25-ns pa2">
          <div class="outline bg-white pv4"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="ph3 ph5-ns pt5">
    <h4 class="f4">Four Columns - Collapse to Mixed</h4>
    <code class="f6 pre">
      &lt;div class="mw9 center ph3-ns"&gt; &lt;div class="cf ph2-ns"&gt;
      &lt;div class="fl w-100 w-25-ns pa2"&gt; &lt;div class="outline bg-white
      tc pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;div class="fl w-third w-25-ns
      pa2"&gt; &lt;div class="outline bg-white tc pv4"&gt;&lt;/div&gt;
      &lt;/div&gt; &lt;div class="fl w-third w-25-ns pa2"&gt; &lt;div
      class="outline bg-white tc pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;div
      class="fl w-third w-25-ns pa2"&gt; &lt;div class="outline bg-white tc
      pv4"&gt;&lt;/div&gt; &lt;/div&gt; &lt;/div&gt; &lt;/div&gt;
    </code>
  </div>
  <section class="w-100 pv3 f6 ph3 ph4-ns">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-25-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
        <div class="fl w-third w-25-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
        <div class="fl w-third w-25-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
        <div class="fl w-third w-25-ns pa2">
          <div class="outline bg-white tc pv4"></div>
        </div>
      </div>
    </div>
  </section>
</main>
