<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h4 class="f3">Color Palette</h4>
    <ul class="list pl0 ml0 cf">
      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-black"></div>
        <div class="fl w-60 lh-copy pl2 pt2">
          <b class="db"> black </b>
          <code class="f6">#000000</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-near-black"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> near-black </b>

          <code class="f6">#111111</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-dark-gray"></div>
        <div class="fl w-60 lh-copy pl2 pt2">
          <b class="db"> dark-gray </b>
          <code class="f6">#333333</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-mid-gray"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db">mid-gray </b>

          <code class="f6">#555555</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-gray"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> gray</b>

          <code class="f6">#777777</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-silver"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> silver</b>
          <code class="f6">#999999</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-light-silver"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> light-silver</b>

          <code class="f6">#AAAAAA</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-moon-gray"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> moon-gray </b>

          <code class="f6">#CCCCCC</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-light-gray"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> light-gray</b>

          <code class="f6">#EEEEEE</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-near-white"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> near-white</b>

          <code class="f6">#F4F4F4</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-white"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> white </b>

          <code class="f6">#FFFFFF</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-dark-red"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> dark-red </b>

          <code class="f6">#E7040F</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-red"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> red </b>

          <code class="f6">#FF4136</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-light-red"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> light-red </b>

          <code class="f6">#FF725C</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-orange"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> orange </b>

          <code class="f6">#FF6300</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-gold"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> gold </b>

          <code class="f6">#FFB700</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-yellow"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> yellow </b>

          <code class="f6">#FFD700</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-light-yellow"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> light-yellow </b>

          <code class="f6">#FBF1A9</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-purple"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> purple </b>

          <code class="f6">#5E2CA5</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-light-purple"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> light-purple </b>

          <code class="f6">#A463F2</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-dark-pink"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> dark-pink </b>

          <code class="f6">#D5008F</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-hot-pink"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> hot-pink </b>

          <code class="f6">#FF41B4</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-pink"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> pink </b>

          <code class="f6">#FF80CC</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-light-pink"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> light-pink </b>

          <code class="f6">#FFA3D7</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-dark-green"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> dark-green </b>

          <code class="f6">#137752</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-green"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> green </b>

          <code class="f6">#19A974</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-light-green"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> light-green </b>

          <code class="f6">#9EEBCF</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-navy"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> navy </b>

          <code class="f6">#001B44</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-dark-blue"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> dark-blue </b>

          <code class="f6">#00449E</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-blue"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> blue </b>

          <code class="f6">#357EDD</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-light-blue"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> light-blue </b>

          <code class="f6">#96CCFF</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-lightest-blue"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> lightest-blue </b>

          <code class="f6">#CDECFF</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-washed-blue"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> washed-blue</b>

          <code class="f6">#F6FFFE</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-washed-green"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> washed-green </b>

          <code class="f6">#E8FDF5</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-washed-yellow"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> washed-yellow</b>

          <code class="f6">#FFFCEB</code>
        </div>
      </li>

      <li class="fl w-100 w-50-m w-25-l mb1">

        <div class="fl w-40 pv4 bg-washed-red"></div>
        <div class="fl w-60 lh-copy pl2 pt2">

          <b class="db"> washed-red</b>

          <code class="f6">#FFDFDF</code>
        </div>
      </li>

    </ul>
  </div>
</main>
