<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <div>
      <h3 class="f3">Border Base</h3>
      <h4 class="mb0 fw6">Border</h4>
      <code class="f6 mv2 db">
        &lt;div class="ba"&gt; &lt;/div&gt;
      </code>
      <div class="ba pv3 f5 nowrap bg-washed-blue db mb2 mw5"></div>

      <h4 class="mb0 fw6">Border Top</h4>
      <code class="f6 mv2 db">
        &lt;div class="bt"&gt; &lt;/div&gt;
      </code>
      <div class="bt pv3 f5 nowrap bg-washed-blue db mb2 mw5"></div>

      <h4 class="mb0 fw6">Border Right</h4>
      <code class="f6 mv2 db">
        &lt;div class="br"&gt; &lt;/div&gt;
      </code>
      <div class="br pv3 f5 nowrap bg-washed-blue db mb2 mw5"></div>

      <h4 class="mb0 fw6">Border Bottom</h4>
      <code class="f6 mv2 db">
        &lt;div class="bb"&gt; &lt;/div&gt;
      </code>
      <div class="bb pv3 f5 nowrap bg-washed-blue db mb2 mw5"></div>

      <h4 class="mb0 fw6">Border Left</h4>
      <code class="f6 mv2 db">
        &lt;div class="bl"&gt; &lt;/div&gt;
      </code>
      <div class="bl pv3 f5 nowrap bg-washed-blue db mb2 mw5"></div>
    </div>
    <div>
      <h3 class="f3">Border Styles</h3>
      <h4 class="mb0 fw6">Dashed</h4>
      <code class="f6 mv2 db">
        &lt;div class="ba b--dashed"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dashed pv3 f5 nowrap bg-washed-blue db mw6 mb2"></div>

      <h4 class="mb0 fw6">Dotted</h4>
      <code class="f6 mv2 db">
        &lt;div class="ba b--dotted"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dotted pv3 f5 nowrap bg-washed-blue db mw6 mb2"></div>

      <h4 class="mb0 fw6">Solid (default)</h4>
      <code class="f6 mv2 db">
        &lt;div class="ba"&gt; &lt;/div&gt;
      </code>
      <div class="ba pv3 f5 nowrap bg-washed-blue db mw6 mb2"></div>
    </div>
    <div>
      <h3 class="f3">Border Widths</h3>
      <h4 class="mb0 fw6">Solid (default)</h4>
      <code class="f6 mv2 db">
        &lt;div class="ba bw1"&gt; &lt;/div&gt;
      </code>
      <div class="ba bw1 pv3 f5 nowrap bg-washed-blue db mb3 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba bw2"&gt; &lt;/div&gt;
      </code>
      <div class="ba bw2 pv3 f5 nowrap bg-washed-blue db mb3 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba bw3"&gt; &lt;/div&gt;
      </code>
      <div class="ba bw3 pv3 f5 nowrap bg-washed-blue db mb3 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba bw4"&gt; &lt;/div&gt;
      </code>
      <div class="ba bw4 pv3 f5 nowrap bg-washed-blue db mb3 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba bw5"&gt; &lt;/div&gt;
      </code>
      <div class="ba bw5 pv3 f5 nowrap bg-washed-blue db mb2 mw5"></div>

      <h4 class="mb0 fw6 mt4">Dotted</h4>
      <code class="f6 mv2 db">
        &lt;div class="ba b--dotted bw1"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dotted bw1 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dotted bw2"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dotted bw2 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dotted bw3"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dotted bw3 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dotted bw4"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dotted bw4 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dotted bw5"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dotted bw5 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <h4 class="mb0 fw6 mt4">Dashed</h4>
      <code class="f6 mv2 db">
        &lt;div class="ba b--dashed bw1"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dashed bw1 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dashed bw2"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dashed bw2 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dashed bw3"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dashed bw3 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dashed bw4"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dashed bw4 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dashed bw5"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dashed bw5 pv3 f5 nowrap bg-washed-blue db mb4 mw5">
      </div>

      <h3 class="f3">Border Colors</h3>
      <code class="f6 mv2 db">
        &lt;div class="ba b--black"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--near-black"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--near-black pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--dark-gray"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dark-gray pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--mid-gray"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--mid-gray pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--gray"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--gray pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--silver"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--silver pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--light-silver"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--light-silver pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--light-gray"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--light-gray pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 mv2 db">
        &lt;div class="ba b--near-white"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--near-white pv3 f5 nowrap db mb4 mw5"></div>

      <div class="pa2 bg-black">
        <code class="f6 white mv2 db">
          &lt;div class="ba b--white"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-90"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-90 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-80"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-80 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-70"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-70 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-60"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-60 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-50"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-50 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-40"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-40 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-30"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-30 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-20"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-20 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-10"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-10 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-05"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-05 pv3 f5 nowrap db mb4 mw5"></div>

        <code class="f6 white mv2 db">
          &lt;div class="ba b--white-025"&gt; &lt;/div&gt;
        </code>
        <div class="ba b--white-025 pv3 f5 nowrap db mb4 mw5"></div>
      </div>
      <code class="f6 black mt5 mb2 db">
        &lt;div class="ba b--black"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-90"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-90 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-80"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-80 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-70"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-70 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-60"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-60 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-50"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-50 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-40"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-40 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-30"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-30 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-20"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-20 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-10"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-10 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-05"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-05 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--black-025"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--black-025 pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--dark-red"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dark-red pv3 f5 nowrap db mb4 mw5"></div>

      <code class="f6 black mv2 db">
        &lt;div class="ba b--dark-red"&gt; &lt;/div&gt;
      </code>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--red"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--red pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--orange"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--orange pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--gold"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--gold pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--yellow"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--yellow pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--purple"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--purple pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--light-purple"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--light-purple pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--hot-pink"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--hot-pink pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--dark-pink"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dark-pink pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--pink"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--pink pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--dark-green"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dark-green pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--green"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--green pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--navy"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--navy pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--dark-blue"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--dark-blue pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--blue"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--blue pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--light-blue"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--light-blue pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--lightest-blue"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--lightest-blue pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--washed-blue"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--washed-blue pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--washed-green"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--washed-green pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--washed-yellow"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--washed-yellow pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--light-pink"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--light-pink pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--light-yellow"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--light-yellow pv3 f5 nowrap db mb4 mw5"></div>
      <code class="f6 black mv2 db">
        &lt;div class="ba b--light-red"&gt; &lt;/div&gt;
      </code>
      <div class="ba b--light-red pv3 f5 nowrap db mb4 mw5"></div>
    </div>
  </div>
</main>
