<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h3 class="f3 bb">Tracking</h3>
    <h3 class="f5 fw4 sans-serif">Default</h3>
    <h4 class="f1 ttu b mt0">Title Example</h4>
    <code class="f6 mb3 mt4 db b">
      &lt;h4 class="f1 ttu tracked mt0"&gt;Title Example&lt;/h4&gt;
    </code>
    <h4 class="f1 ttu tracked mt0">Title Example</h4>

    <code class="f6 mb3 mt4 db b">
      &lt;h4 class="f1 ttu tracked-mega mt0"&gt;Title Example&lt;/h4&gt;
    </code>
    <h4 class="f1 ttu tracked-mega b mt0">Title Example</h4>

    <code class="f6 mb3 mt4 db b">
      &lt;h4 class="f1 ttu tracked-tight mt0"&gt;Title Example&lt;/h4&gt;
    </code>
    <h4 class="f-headline tracked-tight b mt0">title example</h4>
  </div>
</main>
