<main class="bg-white black-70">
  <div class="ph3 ph5-ns pt4 pb5">
    <h3 class="f3 bb">Form Input Reset </h3>
    <form>
      <label for="inputReset">
        <code class="f6 db b">.input-reset</code>
      </label>
      <input id="inputReset" type="text" class="input-reset" />
    </form>
  </div>
</main>
